{% extends "templates/base.twig" %}

{% block title %}Auth Home{% endblock %}
{% block head %}{% endblock %}

{% block content %}
	<div class="row">
		<div class="col-md-6 offset-md-3">
		    <form action="{{ path_for('auth.register')}}" method="post">
		    	<legend>Register</legend>
		    	<div class="form-group">
		    		<label>Username</label>
		    		<input name="username" class="form-control{{ errors.username ? ' is-invalid' : '' }}" autocomplete="off" value="{{ old.username }}">
		    		{% if errors.username %}
		    			<div class="invalid-feedback">{{ errors.username | first }}</div>
		    		{% endif %}
		    	</div>
		    	<div class="form-group">
		    		<label>First Name</label>
		    		<input name="firstname" class="form-control{{ errors.firstname ? ' is-invalid' : '' }}" autocomplete="off" value="{{ old.firstname }}">
		    		{% if errors.firstname %}
		    			<div class="invalid-feedback">{{ errors.firstname | first }}</div>
		    		{% endif %}
		    	</div>
		    	<div class="form-group">
		    		<label>Last Name</label>
		    		<input name="lastname" class="form-control{{ errors.lastname ? ' is-invalid' : '' }}" autocomplete="off" value="{{ old.lastname }}">
		    		{% if errors.lastname %}
		    			<div class="invalid-feedback">{{ errors.lastname | first }}</div>
		    		{% endif %}
		    	</div>
		    	<div class="form-group">
		    		<label>Email</label>
		    		<input name="email" type="email" class="form-control{{ errors.email ? ' is-invalid' : '' }}" autocomplete="off" value="{{ old.email }}">
		    		{% if errors.email %}
		    			<div class="invalid-feedback">{{ errors.email | first }}</div>
		    		{% endif %}
		    	</div>
		    	<div class="form-group">
		    		<label>Password</label>
		    		<input name="password" type="password" class="form-control{{ errors.password ? ' is-invalid' : '' }}"  autocomplete="off">
		    		{% if errors.password %}
		    			<div class="invalid-feedback">{{ errors.password | first }}</div>
		    		{% endif %}
		    	</div>
		    	<div class="form-group">
		    		<label>Password (again)</label>
		    		<input name="password_again" type="password" class="form-control{{ errors.password_again ? ' is-invalid' : '' }}"  autocomplete="off">
		    		{% if errors.password_again %}
		    			<div class="invalid-feedback">{{ errors.password_again | first }}</div>
		    		{% endif %}
		    	</div>
		    	<button class="btn btn-primary">Register</button>

		    	{{ csrf.field | raw }}
		    </form>
		</div>
	</div>
{% endblock %}

{% block footer %}{% endblock %}
